<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="giftadeed.kshantechsoft.com.giftadeed">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".ActiveUser.GiftAdeed"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:allowBackup">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_key" />

        <activity
            android:name=".TaggedNeeds.TaggedneedsActivity"
            android:configChanges="orientation"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Landing.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmergencyPositioning.SOSOptionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmergencyPositioning.EmergencyContact"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmergencyPositioning.SOSEmergencyNumbers"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Animation.FadeInActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DownloadMarkersIcons.DownloadMarkersIcons"
            android:configChanges="orientation"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".Signup.SignUp"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <service android:name=".NotificationModule.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".NotificationModule.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".subscription.Subscription_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".termsandconditions.Terms_Conditions"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".FirstLogin.First_Login" />
        <activity android:name=".PrivacyPolicy.Privacy_policy" />
        <activity
            android:name=".EmergencyPositioning.EmergencyStageTwo"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".EmergencyPositioning.SOSDetailsActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".MyProfile.ShowImageActivity"
            android:theme="@style/AppTheme"></activity>

        <service
            android:name=".EmergencyPositioning.GetAddressIntentService"
            android:exported="false" />

        <activity
            android:name=".SendBirdChat.main.ChoiceActivity"
            android:label="@string/select_channel_type" />
        <activity
            android:name=".SendBirdChat.main.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".SendBirdChat.main.BlockedMembersListActivity"
            android:label="@string/blocked_members_list" />
        <activity android:name=".SendBirdChat.utils.PhotoViewerActivity" />
        <activity
            android:name=".SendBirdChat.utils.MediaPlayerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SendBirdChat.openchannel.CreateOpenChannelActivity"
            android:label="@string/create_open_channel"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".SendBirdChat.groupchannel.InviteMemberActivity"
            android:label="@string/invite_member" />
        <activity
            android:name=".SendBirdChat.groupchannel.MemberListActivity"
            android:label="@string/member_list" />
        <activity
            android:name=".SendBirdChat.groupchannel.CreateGroupChannelActivity"
            android:label="@string/create_group_channel" />
        <activity
            android:name=".SendBirdChat.openchannel.ParticipantListActivity"
            android:label="@string/participant_list" />
        <activity
            android:name=".SendBirdChat.openchannel.OpenChannelActivity"
            android:label=""
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SendBirdChat.groupchannel.GroupChannelActivity"
            android:label=""
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".SendBirdChat.utils.Activity_Audio" />
        <activity android:name=".SendBirdChat.utils.VideoPlayer" />
    </application>
</manifest>